body {
	font-family: sans-serif;
}
#main-content {
}
#sidebar {
	width:200px;
	vertical-align:top;
	padding: 0 5px 0 0;
}
.detail {
	border-bottom: 1px solid #ddd;
}
.detail .title {
	font-weight:bold;
}
.detail .date {
	float:right;
}
.detail .description {
	clear:both;
}
